.tic-text {
  color: #fff;
}

body {
  font-size: 18px;
  background-color: gray;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 1.8rem;
}

.container {
  margin-top: 10pt;
}

.btns {
  font-size: 25px;
  height: 40px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  border: white 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  transition: all 0.5s;
  margin-top: 10px;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.tic-input {
  font-size: 25px;
  height: 30px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  border: white 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  transition: all 0.5s;
  margin-top: 10px;
  position: relative;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tic-input:hover {
  color: #fff;
}

.restart {
  font-size: 25px;
  height: 40px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Balsamiq Sans", cursive;
  text-decoration: none;
  color: white;
  border: white 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  transition: all 0.5s;
  margin-top: 10px;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.squares {
  font-size: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: white 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  transition: all 0.5s;
  padding: 0;
  margin: 0%;
}

.game-board {
  display: grid;
  width: 170px;
  height: 170px;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
